{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}}

 :aliases
 {:dev
  {:extra-paths ["test" "src/resources/submodules/tests"]
   :extra-deps  {criterium/criterium       {:mvn/version "0.4.6"}
                 clj-commons/clj-yaml      {:mvn/version "1.0.29"}}
   :jvm-opts    ["-Xss512M"]}

  :test
  {:extra-paths ["test" "src/resources/submodules/tests"]
   :extra-deps  {clj-commons/clj-yaml              {:mvn/version "1.0.29"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                      :git/sha "dfb30dd"}}
   :jvm-opts    ["-Xss512M"]
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}

  :build
  {:deps {org.clojure/clojure            {:mvn/version "1.12.4"}
          io.github.clojure/tools.build  {:mvn/version "0.10.12"}
          com.github.liquidz/antq        {:mvn/version "2.11.1276"}
          slipset/deps-deploy            {:mvn/version "0.2.2"}}
   :ns-default build}

  :cljstyle-check
  {:extra-deps {mvxcvi/cljstyle {:mvn/version "0.17.642"}}
   :main-opts  ["-m" "cljstyle.main" "check"]}

  :cljstyle-fix
  {:extra-deps {mvxcvi/cljstyle {:mvn/version "0.17.642"}}
   :main-opts  ["-m" "cljstyle.main" "fix"]}}}
