{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        levand/immuconf     {:mvn/version "0.1.0"}}

 :aliases
 {:dev
  {:extra-paths ["spec" "src/resources/submodules/tests"]
   :extra-deps  {criterium/criterium       {:mvn/version "0.4.6"}
                 speclj/speclj             {:mvn/version "3.12.1"}
                 clj-commons/clj-yaml      {:mvn/version "1.0.29"}}
   :jvm-opts    ["-Xss512M"]}

  :test
  {:extra-paths ["spec" "src/resources/submodules/tests"]
   :extra-deps  {speclj/speclj             {:mvn/version "3.12.1"}
                 clj-commons/clj-yaml      {:mvn/version "1.0.29"}}
   :jvm-opts    ["-Xss512M"]
   :main-opts   ["-e" "(require 'speclj.cli) (System/exit (speclj.cli/run \"--reporter=d\" \"spec\"))"]}

  :build
  {:deps {org.clojure/clojure            {:mvn/version "1.12.4"}
          io.github.clojure/tools.build  {:mvn/version "0.10.12"}
          com.github.liquidz/antq        {:mvn/version "2.11.1276"}
          slipset/deps-deploy            {:mvn/version "0.2.2"}}
   :ns-default build}}}
